/* This is the CSS used in all pages */
/* The pages are splitted in sections */

/*  site's color pallette  */
/*  #FFA200  */
/*  #121530  */
/*  #1C2135  */
/*  darkslateblue  */

/* =====default style for ALL pages START===== */
body {
    background-color: darkslateblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    font-family: Default Font, Arial, sans-serif;
/*    overflow-x: hidden;*/
}

#header {
    width: 100%;
    height: 100px;
}

#vnnlogo {
    background-image: url(images/vnn_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #121530;
    height: 100%;
}

#title {
    background-color: #FFA200;
    overflow: hidden;
    font-size: 27px;
    color: white;
    text-align: center;
}

@keyframes rotateVNN {
    0% {
        transform: rotate(-1.2deg) scale(1.00);
    }
    
    50% {
        transform: rotate(1.8deg) scale(0.82);
    }
    
    100% {
        transform: rotate(-1.2deg) scale(1.00);
    }
}

#title h1 {
    margin: 0 auto;
    text-shadow: 0px 0px 5px #000;
    animation: rotateVNN ease 9s infinite;
}

/* menu */
#menu {
    margin: 0 auto;
    width: 100%;
    background-color: #1C2135;
    text-align: center;
    font-family: Quantico, Arial, sans-serif;
    font-size: 28px;
}

a {
    color: #F2F2F2;
    padding: 0 25 0 25px;
    text-decoration: none;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, darkslateblue 50%, #FFA200 50%);
    transition: background-position 0.2s;
}

#menu a:hover {
    color: #F2F2F2;
    background-color: darkslateblue;
    background-position: 0% -100%;
    transition: 0.2s;
}

.active {
    background-position: 0% -100%;
    color: #000;
}
/* menu end */
/* =====default style for all pages END===== */


/* =====styles for the Home page START===== */
#main {
    background-color: darkslateblue;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin: 15px auto;
    width: 90%;
    height: 95%;
}

#textSPY {
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: Quantico, Arial, sans-serif;
}
/* =====styles for the Home page END===== */


/* =====styles for the Commands page START===== */
#commandsbox {
    background-color: darkslateblue;
    list-style: none;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

#commandstitle {
    background-color: black;
    transform: rotate(1deg);
    color: white;
    width: 305px;
    margin: 5px auto;
    text-align: center;
    font-size: 16px;
}

#commandstitle h2 {
    margin: 0 auto;
    font-size: 50px;
}

#commandstitle p {
    margin: 0;
    padding: 5px;
}

#commandsbox ul {
    margin: 0 auto;
    list-style: none;
    position: relative;
    top: 10px;
    font-family: Quantico, IBM Plex Sans, Arial, sans-serif;
    text-align: left;
}

#ulcommands {
    padding-left: 125px;
    padding-right: 125px;
    font-size: 25px;
}

#commandsbox li {
    width: 100%;
    padding: 2px;
    margin-bottom: 6px;
    color: white;
    text-shadow: 1px 1px 3px #000;
}

#commandsbox li:hover {
    transform: scale(1.01);
    transition: 0.25s;
    cursor: pointer;
}

.everyone {
    background-color: darkgreen;
}
.everyone:hover {
    background-color: green;
}

.admsmods {
    background-color: black;
}
.admsmods:hover {
    background-color: #222333;
}

#tyler {
    background-color: #1C2135;
    background-image: url(images/wtf.png);
    background-size: contain;
    background-position: center;
    background-blend-mode: color-dodge;
    width: 100%;
    height: 165px;
    margin: 0 auto;
}

#tylertext {
    color: white;
    text-shadow: 3px 3px 2px #000;
    font-size: 55px;
    margin: 0px;
    text-align: center;
}
/* =====styles for the Commands page END===== */


/* =====styles for the Bot Status page START===== */
#site-wrapper {
    margin: 0 auto;
    width: 1000px;
    height: 620px;
}

#engineer {
    background-image: url(images/engineer_on.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 10px;
    margin: 5px;
    height: 590px;
}

#botstatus-box {
    margin: 0px auto;
    background-color: black;
    width: 75%;
    height: 200px;
    color: white;
    font-size: 61px;
    font-family: Quantico, Arial, sans-serif;
    text-align: right;
    position: relative;
    top: -60%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#botstatus-box-maintext {
    width: 100%;
    margin: 0;
    position: relative;
    left: -2.5%;
    top: 20px;
}

#botstatus {
    width: 100%;
    margin: 0;
    position: relative;
    top: -205px;
    left: -2.5%;
}
/* =====styles for the Bot Status page END===== */


/* =====styles for the Warn/Kick/Bans logs page START===== */
#bigblackboxtitleatthetopofthepage {
    margin: 22px auto 0px;
    background-color: black;
    max-width: 750px;
    color: white;
    font-size: 45px;
    font-family: Default Font, Quantico, Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

#bigblackboxtitleatthetopofthepagesubtitle {
    margin: 0px auto;
    background-color: black;
    max-width: 700px;
    color: white;
    font-size: 18px;
    font-family: Quantico, Arial, sans-serif;
    text-align: center;
}

#texthere {
    margin: 20px auto 0px auto;
    height: 50px;
    font-size: 20px;
    font-family: Quantico, Arial, sans-serif;
    padding: 5px;
}

#userhere {
    margin: 10px auto 0px auto;
    width: 100%;
    height: 200px;
    font-family: Quantico, Arial, sans-serif;
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
}
/* =====styles for the Warn/Kick/Bans logs page END===== */


/* =====styles for the About Us page START===== */
#sitewrapper {
    margin: 0px auto;
    width: 90%;
    padding-left: 50px;
    padding-right: 50px;
    height: 595px;
}

#thepeople {
    margin: 0 auto;
    background-color: white;
    width: 100%;
    font-family: Quantico, Arial, sans-serif;
    text-align: center;
    font-size: 36px;
}

#peoplecontainer {
    background-color: #121530;
    margin: 25px 0px 25px 0px;
    width: 100%;
    height: 51%;
    color: white;
    font-family: Quantico, Arial, sans-serif;
    text-shadow: 3.5px 3.5px 2.5px #000;
    display: inline-flex;
}

.peoplethumbs {
    text-align: center;
    width: 100%;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.peoplethumbs:hover {
    transform: scale(1.02) rotate(1.02deg);
    transition: 0.2s;
}

.peoplephoto {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
}

h2 {
    margin: 0px;
    width: 100%;
    font-size: contain;
    letter-spacing: 1px;
    text-align: center;
}

#peopledescriptionACFC {
    padding-top: 170px;
    width: 100%;
}

#peopledescriptionJOTA {
    padding-top: 170px;
    width: 100%;
}

#peopledescription2EGGS {
    padding-top: 170px;
    width: 100%;
}

#peopledescriptionTODD {
    padding-top: 170px;
    width: 100%;
}
/* =====styles for the About Us page END===== */
