/* This is the CSS used in all pages */
/* The pages are splitted in sections */

/*  site's color pallette  */
/*  #FFA200  */
/*  #121530  */
/*  #1C2135  */
/*  darkslateblue  */

/* =====default style for ALL pages START===== */
body {
    background-color: darkslateblue;
    margin: 0;
    font-family: Default Font, Arial, sans-serif;
}

#header {
    width: 100%;
    height: 100px;
}

#vnnlogo {
    background-image: url(images/vnn_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #121530;
    height: 100%;
}

#title {
    background-color: #FFA200;
    overflow: hidden;
    font-size: 22px;
    color: white;
    text-align: center;
}

@keyframes rotateVNN {
    0% {
        transform: rotate(-1.2deg) scale(1.00);
    }
    
    50% {
        transform: rotate(1.8deg) scale(0.82);
    }
    
    100% {
        transform: rotate(-1.2deg) scale(1.00);
    }
}

#title h1 {
    margin: 0 auto;
    text-shadow: 0px 0px 5px #000;
    animation: rotateVNN ease 10s infinite;
}

/* menu */
#menu {
    margin: 0 auto;
    width: 100%;
    background-color: #1C2135;
    font-family: Quantico, Arial, sans-serif;
    text-align: center;
    font-size: 25px;
}

a {
    color: #F2F2F2;
    padding: 0 25 0 25px;
    text-decoration: none;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, darkslateblue 50%, #FFA200 50%);
    transition: background-position 0.2s;
}

#menu a:hover {
    color: #F2F2F2;
    background-color: darkslateblue;
    background-position: 0% -100%;
    transition: 0.2s;
}

.active {
    background-position: 0% -100%;
    color: #000;
}
/* menu end */

#sitewrapper {
    margin: 0px auto;
    width: 98%;
    max-width: 1100px;
    height: 600px;
}

/* =====default style for all pages END===== */


/* =====styles for the Home page START===== */
#main {
    background-color: darkslateblue;
    margin: 15px auto;
    width: 98%;
    max-width: 947px;
}

#textSPY {
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: Quantico, Arial, sans-serif;
}
/* =====styles for the Home page END===== */


/* =====styles for the Commands page START===== */
#commandsbox {
    background-color: darkslateblue;
    list-style: none;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

#commandstitle {
    background-color: black;
    transform: rotate(1deg);
    color: white;
    width: 325px;
    margin: 15px auto;
    text-align: center;
    font-size: 16px;
}

#commandstitle h2 {
    margin: 0 auto;
    font-size: 50px;
}

#commandstitle p {
    margin: 0;
    padding: 5px;
}

#commandsbox ul {
    margin: 0 auto;
    list-style: none;
    font-family: Quantico, IBM Plex Sans, Arial, sans-serif;
}

#ulcommands {
    max-width: 1100px;
    font-size: 22px;
}

#commandsbox li {
    padding: 2px;
    margin-bottom: 5px;
    color: white;
    text-shadow: 1px 1px 3px #000;
}

#commandsbox li:hover {
    transform: scale(1.01);
    transition: 0.25s;
    cursor: pointer;
}

.everyone {
    background-color: darkgreen;
}
.everyone:hover {
    background-color: green;
}

.admsmods {
    background-color: black;
}
.admsmods:hover {
    background-color: #222333;
}

#tyler {
    background-color: #1C2135;
    background-image: url(images/wtf.png);
    background-size: contain;
    background-position: center;
    background-blend-mode: color-dodge;
    width: 100%;
    height: 100%;
    max-height: 235px;
    margin: 0 auto;
}

#tylertext {
    color: white;
    text-shadow: 3px 3px 2px #000;
    font-size: 55px;
    margin: 35px;
    text-align: center;
}
/* =====styles for the Commands page END===== */


/* =====styles for the Bot Status page START===== */

#engineer {
    background-image: url(images/engineer_on.png);
    background-repeat: no-repeat;
    background-size: 45%;
    height: 660px;
    margin: 10 0 0 0;
}

#botstatus-box-maintext {
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 60px;
    font-family: Quantico, Arial, sans-serif;
    text-align: right;
    position: relative;
    top: -480px;
    z-index: -1;
}

#botstatus {
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 60px;
    font-family: Quantico, Arial, sans-serif;
    text-align: right;
    position: relative;
    top: -550px;
    z-index: -2;
    
}
/* =====styles for the Bot Status page END===== */


/* =====styles for the Warn/Kick/Bans logs page START===== */
#bigblackboxtitleatthetopofthepage {
    margin: 22px auto 0px;
    background-color: black;
    max-width: 750px;
    color: white;
    font-size: 45px;
    font-family: Default Font, Quantico, Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

#bigblackboxtitleatthetopofthepagesubtitle {
    margin: 0px auto;
    background-color: black;
    max-width: 700px;
    color: white;
    font-size: 18px;
    font-family: Quantico, Arial, sans-serif;
    text-align: center;
}

#texthere {
    margin: 20px auto 0px auto;
    height: 50px;
    font-size: 20px;
    font-family: Quantico, Arial, sans-serif;
    padding: 5px;
}

#userhere {
    margin: 10px auto 0px auto;
    width: 100%;
    height: 200px;
    font-family: Quantico, Arial, sans-serif;
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
}
/* =====styles for the Warn/Kick/Bans logs page END===== */


/* =====styles for the About Us page START===== */
#thepeople {
    background-color: white;
    font-family: Quantico, Arial, sans-serif;
    text-align: center;
    font-size: 38px;
}

#peoplecontainer {
    background-color: #121530;
    margin: 19px 0px 19px 0px;
    width: 100%;
    height: 45%;
    color: white;
    font-family: Quantico, Arial, sans-serif;
    text-shadow: 3px 3px 2px #000;
    display: inline-flex;
}

.peoplethumbs {
    text-align: center;
    width: 25%;
    margin: 10px;
    display: flex;
}

.peoplethumbs:hover {
    transform: scale(1.02) rotate(1.02deg);
    transition: 0.2s;
}

.peoplephoto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
}

.peoplename {
    margin: 0;
    width: 100%;
    font-size: 30px;
}

.peopledescription {
    padding-top: 150px;
    width: 100%;
    font-size: 18px;
}
/* =====styles for the About Us page END===== */
